.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide, body.ng-cloak {
	display: block;
}

a.md-button.md-fab.alt {
	line-height: 40px;
}

.menu-heading {
	color: #888;
	display: block;
	font-size: inherit;
	font-weight: 500;
	line-height: 40px;
	margin: 0;
	padding: 0px 16px;
	text-align: left;
	width: 100%;
}

.sidenavItem a {
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-weight: 400;
	margin: 0;
	overflow: hidden;
	padding: 0px 16px;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: 100%;
}

.sidenavItem button {
	width: 100%;
	text-align: left;
}

