<md-toolbar class="nav">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between">
        <div flex layout="row" layout-align="start center" ng-if="topnav.auth.user">
            <md-button ng-click="topnav.openSidenav()" class="md-primary md-fab" aria-label="toggle sidenav"><i class="mdi fa-lg mdi-menu"></i>
            </md-button>
        </div>
        <div flex layout="row" layout-align="end center">
			<md-button style="margin-right:10px" ui-sref="profile" class="md-primary md-fab alt-sm"
					   ng-if="topnav.auth.user" aria-label="My profile">
				<i class="mdi fa-lg mdi-account"></i>
				<md-tooltip md-visible="demo.showTooltip">My profile - {{topnav.auth.user.email}}</md-tooltip>
			</md-button>
			<span style="margin-right:10px" ng-if="topnav.auth.user">|</span>
            <a ng-hide="topnav.auth.user || topnav.currentPath() === '/signin'" href="#!/signin">
                <md-button>Login/Register</md-button>
            </a>
			<a ng-if="topnav.auth.user" href="/auth/signout" class="show-signup">
				<md-button>Sign out</md-button>
			</a>
        </div>
    </div>
</md-toolbar>
