<section class="row" data-ng-controller="SettingsController as settings">

	<md-content layout="column" layout-align="space-around center">
		<md-card>
			<md-card-content class="auth-box">
				<h2>My Profile</h2>
				<div data-ng-show="success" class="text-center tc-green-300">
					<strong data-ng-bind="success"></strong>
				</div>
				<div data-ng-show="error" class="text-center md-warn">
					<strong data-ng-bind="error"></strong>
				</div>

				<form name="userForm" data-ng-submit="settings.updateUserProfile(userForm.$valid)" autocomplete="off">
					<md-input-container>
						<label>First Name</label>
						<input id="firstName" name="firstName" required data-ng-model="settings.user.firstName">
						<div ng-messages="projectForm.description.$error">
							<div ng-message="required">First name is required</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Last Name</label>
						<input id="lastName" name="lastName" required data-ng-model="settings.user.lastName">
						<div ng-messages="projectForm.description.$error">
							<div ng-message="required">Last name is required</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>E-mail</label>
						<input id="email" name="email" required data-ng-model="settings.user.email">
						<div ng-messages="projectForm.description.$error">
							<div ng-message="required">E-mail is required</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Username</label>
						<input id="username" name="username" required data-ng-model="settings.user.username">
						<div ng-messages="projectForm.description.$error">
							<div ng-message="required">Username is required</div>
						</div>
					</md-input-container>
					<div layout="column" layout-align="space-between center">
						<div class="auth-action">
							<md-button class="md-primary md-raised" type="submit" lx-ripple>Save</md-button>
						</div>
					</div>

				</form>

			</md-card-content>
		</md-card>
	</md-content>
</section>
